/*aside*/.sidebar {
	width: 25%;
	float: left;
	background: #F8F8FA;
}

/*h4 a*/.thread {
	position: relative;

	&.selected {
		background: red;
		color: white;
	}

	&:before {
		content: '';
		display: inline-block;
		width: 9px;
		height: 9px;
		background: transparent;
		border-radius: 50%;
		margin-right: 10px;
		color: #383F45;
		opacity: 0.3;
		border: 2px solid;
		transition: color 0.25s ease, background-color 0.25s ease, opacity 0.25s ease;
	}

	&.state--online:before {
		opacity: 1;
		color: #93cc93;
		background: #93cc93;
	}
}