.text--hidden {
	color: transparent;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

/*aside*/.sidebar {
	background: #F8F8FA;
	position: relative;
	padding-right: 16px;
	flex: 1;
	max-width: 220px;
}

/*h2*/.threads__title {
	padding-left: 16px;
	position: relative;
	min-height: 1.8rem;
}

/*a*/.add-icon {
	position: absolute;
	top: 0;
	right: 8px;
	bottom: 0;
	width: 1.8rem;
	height: 100%;
	background: url('../images/add.svg') center center/100% auto no-repeat;
	@extend .text--hidden;
}