<template name="sidebar">
	<aside class="sidebar">
		{{> accounts }}
		<div class="threads">
			<h2 class="threads__title">Direct Messages:</h2>
			{{ #if threadCount }}
				{{ #each threads }}
					{{ >thread recipientUserName=recipientUserName id=_id jointId=jointId }}
				{{ /each }}
			{{ else }}
				<a href="#" class="new--thread">Send a direct message</a>
			{{ /if }}					
			<div class="user-search">
				<form class="user-search-form">
					<label for="user-search-field label--hidden">Find by name</label>
					<input type="text" name="user-search-field" id="user-search-field" placeholder="Find by name">
				</form>
				<ul class="user-list">
				{{ #if usersCount }}
					{{ #each users }}
						{{ >user }}
					{{ /each }}
				{{ else }}
					<li class='user-list__item no--users'>There are no users</li>
				{{ /if }}
				</ul>
			</div>
		</div>
	</aside>
</template>