<template name="sidebar">
	<aside class="sidebar">
		{{> accounts }}
		<div class="threads">
			<h2 class="threads__title">Direct Messages: <a class='open--users add-icon text--hidden' href="#" title="click to send a direct message">Send a direct message</a></h2>
			<ul class="thread-list">
			{{ #if threadCount }}
				{{ #each threads users=users }}
					{{ >thread }}
				{{ /each }}
			{{ else }}
				<li class="thread-list__item"><a href="#" class="thread-list__link new--thread open--users">Send a direct message</a></li>
			{{ /if }}		
			</ul>			
			{{ >userSearch }}
		</div>
	</aside>
</template>