<template name="userSearch">
	<div class="user-search">
		<form class="user-search-form">
			<label for="user-search-field label--hidden">Find by name</label>
			<input type="text" name="user-search-field" id="user-search-field" placeholder="Find by name">
		</form>
		<ul class="user-list">
		{{ #if hasSearchResults }}
			{{ #if searchResultsCount }}
				{{ #each searchResults }}
					{{ >user }}
				{{ /each}}
			{{ else }}
				<li class='user-list__item no--users'>No users found :(</li>
			{{ /if }}
		{{ else }}
			{{ #if usersCount }}
				{{ #each users }}
					{{ >user }}
				{{ /each }}
			{{ else }}
				<li class='user-list__item no--users'>There are no users</li>
			{{ /if }}
		
		{{ /if }}
		</ul>
	</div>
</template>