<template name="accounts">
	{{ #if currentUser }}

		<a href="#" class="log-out" title='Log out'>
			<h4>{{ currentUser.username }}</h4>
		</a>
	{{ else }}
		<ul class="tab-controls">
			<li class="tab-control tab--visible">
				<a href="#" class="tab-control__link">Log In</a>
			</li>
			<li class="tab-control">
				<a href="#" class="tab-control__link">Sign Up</a>
			</li>
		</ul>
		<ul class="accounts tab-list">
			<li class="accounts-tab tab tab--login tab--visible">
				{{ > login }}
			</li>
			<li class="accounts-tab tab tab--register">
				{{ > register }}
			</li>
		</ul>
	{{ /if }}
</template>